{
    admin off
    auto_https off

    frankenphp {
        num_threads 2
    }
}

:{$PORT:8080} {
    root * /app/public

    encode zstd gzip
    php_server

    header -Server

    log {
        output stdout
        format json
    }
}
